.vim/.netrwhist
*/vendor/bundle
*.swp
*.swo
.ruby-version
.ruby-gemset
.rails_generators~
.~*
.local/share/applications/mimeapps.list
.config/terminator/config
.profiles/myfreecomm
.certman
.certmanrc

