[user]
	name = leandrost
	email = leandro.s.thimoteo@gmail.com
[github]
	user = leandrost
	token = exit
[color]
	ui = true
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
[alias]
  ignore = update-index --assume-unchanged 
  unignore = update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep ^[a-z]
