[user]
	name = Leandro Thimóteo
	email = leandro.s.thimoteo@gmail.com
[github]
	user = leandrost
	username = leandrost
	token = exit
[color]
	ui = true
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
[alias]
  ignore = update-index --assume-unchanged 
  unignore = update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep ^[a-z]
[credential]
	helper = cache --timeout=3600
[rebase]
	autosquash = true
[pull]
	rebase = true
[hub]
	protocol = https
