.~*
.local/share/applications/mimeapps.list
.profiles/myfreecomm
.certmanrc
*.zip

# vim
.vim/.netrwhist
*.swp
*.swo

# ruby
.ruby-version
.ruby-gemset
.rails_generators~
.bundle
.rspec
vendor

# js
npm-debug.log
