.~*
.local/share/applications/mimeapps.list
.certmanrc
*.zip

#direnv
.envrc

# vim
.vim/.netrwhist
local.vimrc
*.swm
*.swn
*.swo
*.swp

# ruby
.ruby-version
.ruby-gemset
.rails_generators~
.bundle
.rspec*
.byebug_history

vendor

# js
npm-debug.log

Procfile
