#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Cartola FC
Exec=chromium -app=http://cartolafc.globo.com --class=cartolafc --user-data-dir=.webapps/cartolafc
StartupNotify=true
Terminal=false
Type=Application
Icon=cartolafc
StartupWMClass=cartolafc
Categories=Network;
