[Desktop Entry]
Name=Gmail
Exec=chromium -app=https://mail.google.com/mail/u/0/ --class=gmail --user-data-dir=.webapps/gmail
StartupNotify=true
Terminal=false
Type=Application
Icon=gmail
StartupWMClass=gmail
Categories=Network;
