#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Google Calendar
Exec=google-chrome -app=https://www.google.com/calendar/render --class=google-calendar --user-data-dir=.webapps/google-calendar
StartupNotify=true
Terminal=false
Type=Application
Icon=gnome-calendar
StartupWMClass=google-calendar
Categories=Network;

