#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Helpscout
Exec=chromium -app=https://secure.helpscout.net/mailbox/ --class=helpscout --user-data-dir=.webapps/helpscout
StartupNotify=true
Terminal=false
Type=Application
Icon=helpscout
StartupWMClass=helpscout
Categories=Network;
