[Desktop Entry]
Name=HipChat
Exec=chromium -app=https://myfreecomm.hipchat.com/chat --class=app --user-data-dir=.webapps/hipchat
StartupNotify=true
Terminal=false
Type=Application
Icon=hipchat
StartupWMClass=hipchat
Categories=Internet;Web Applications;
