#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Pocket
Exec=chromium -app=http://getpocket.com/a/queue/ --class=pocket --user-data-dir=.webapps/pocket
StartupNotify=true
Terminal=false
Type=Application
Icon=pocket
StartupWMClass=pocket
Categories=Network;

