[Desktop Entry]
Encoding=UTF-8
Name=Vim (Remote)
Comment=Edit text files in a console using Vim
Exec=/home/leandrost/.local/bin/vim-open %U
Terminal=false
Type=Application
Categories=Application;Utility;TextEditor;
MimeType=text/plain;x-scheme-handler/vim;x-scheme-handler/txmt;
StartupNotify=true
Icon=vim
NotShowIn=GNOME;Unity;
