#!/usr/bin/env xdg-open
[Desktop Entry]
Name=WhatsApp
Exec=google-chrome -app=https://web.whatsapp.com/ --class=whatsapp --user-data-dir=.webapps/whatsapp
StartupNotify=true
Terminal=false
Type=Application
Icon=whatsapp
StartupWMClass=whatsapp
Categories=Network;
